*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 18px;
  
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* HEADER CONTENT */
.header__content{

    width: 100%;
    height: 100vh;
    background-image: url(../img/bg\ image\ 1.jpg);
    background-size:cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.content__title{

    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: 400;
    line-height: 1;

}
.content__subtitle{

    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 1;

}

.button{
    
    display: inline-block;
    margin: 0 auto;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color:#1A1917 ;
    background: #FFB548;
    padding: 22px 18px;
    border-radius: 4px;
    margin-top: 35px;
    transition: .2s ;

}

.button:hover{

    
    background: #E83830;
    color: #fff;
    
    
}
.content__bottom{
    text-align: center;
    position: absolute;
    
    left: 0;
    right: 0;
    bottom: 0;
}
.bottom__text{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
}

.button__text::after{

    content: '';
    border-right: 1px solid #1A1917;
    height: 30px;
    margin: 0 15px;
    border-radius: 1px;
}
/* ARROW BOUNCE */

.arrow {

    text-align: center;
    margin: 5px 0 50px 0;
    
}
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
    60% {
      transform: translateY(5px);
    }
  }

/* HEADER NAV */
.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-top: 20px;
}
.header__menu{
    display: flex;
    align-items: center;
}
.menu__link{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.menu__item::after{

    content: "";
    display: block;
    height: 2px;
    background: #E83830;
    width: 0%;
    margin: auto;
    transition: .2s;

}
.menu__item:hover .menu__link{

    color: #E83830;

}
.menu__item:hover::after{

    width: 100%;
    
}
.menu__item + .menu__item {
    margin-left: 50px;
}

.header__right{
    display: flex;
    align-items: center;
}
.header__right a{
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-right: 0;
    
}
.header__right .right__item:first-of-type::after{
    content: '';
    border-right: 1px solid #fff;
    height: 30px;
    margin: 0 20px;
    border-radius: 1px;
}
.right__item img{
    padding-top: 5px;
}
.steam__img{
    margin-left: 17px;
}

/* ABOUT */
.section--first{

    background-image: url(../img/bg\ image\ 2.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.about{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.about__suptitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;

}

.about__title{

    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #fff;
    letter-spacing: 3px;
    width: 410px;
    line-height: 1;
    font-weight: 400;

}
.about__title::after{

    content: "";
    height: 3px;
    background: #fff;
    display: block;
    width: 712px;
    margin: 15px 0 65px 0;
    border-radius: 2px;

}

.about__text{

    font-size: 18px;
    color: #fff;
    width: 364px;
    text-align: justify;
    margin-left: 185px;
    position: relative;
    z-index: 1;

}

.about__text::after{

    content: "";
    height: 6px;
    background: #FFB548;
    display: block;
    position: absolute;
    left: 166px;
    right: 0;
    bottom: 3px;
    z-index: -1;
    width: 120px;
}

.about__gallery{
    margin-top: 10pxw;
}

/* SLIDER */

.swiper {
    width: 502px;
    height: 610px;
  }
  .swiper__img{
      border-radius: 6px;
  }

  .swipbut{
     
  }
  .swipbut.next{
      transform: rotate(-90deg);
      display: block;
     position: absolute;
     top: 280px;
     right: -70px;
     z-index: 1;
     width: 40px;
     height: 80px;
     cursor: pointer;
  }
  .swipbut.next:active{
      transform: scale(0.8) rotate(-90deg);
     
  }
  .swipbut.prev{
    transform: rotate(90deg);
    
    display: block;
   position: absolute;
   top: 280px;
   left: 628px;
   z-index: 1;
   width: 40px;
   height: 80px;
   cursor: pointer;
}

.swipbut.swipbut.prev:active{
    transform: scale(0.8) rotate(90deg);
   
}

/* SECTION SECOND */
.section--second{

    background-image: url(../img/bg\ image\ 3.jpg);
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    
}
.features{

    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    
}

.features__suptitle{
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;

}

.features__title{

    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #fff;
    letter-spacing: 3px;
    width: 410px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 85px;margin-top: 20px;

}
.features__items-title{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400 ;
    color: #FFB548;
    font-size: 36px;
    letter-spacing: 2px;
}
.features__items-text{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 362px;
    text-align: justify;
    margin-bottom: 45px;
    margin-top: 10px;
}

.features__item + .features__item{
    margin-bottom: 50px;
}
.features__body{
    display: flex;
}
.features__body-path img{
    padding-top: 15px;
    margin-right: 25px;
    height: 300px;
}